*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: linear-gradient(to right, #23A6D5, #c401ff);
  }
  
  .calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    color: rgb(240, 240, 240);
    font-size: 2rem;
    border: 1px solid rgba(73, 73, 73, 0.705);
    outline: none;
    background-color: #181818ce;
  }
  
  .calculator-grid > button:hover,
  .calculator-grid > button:focus {
    background-color: #181818e5;
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  .round{
      border-bottom-left-radius: 1.5rem;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }